Memberships[pseudocode]
* User should see link for basic plan on home page
* User should see link for pro plan on home page
* Basic plan should link to regular devices sign up form
*Pro plan should point to a custom sign up form.